In [1]:
import pandas as pd

In [19]:
table = pd.read_html("https://fbref.com/en/matches/6713c1dc/Fulham-Liverpool-August-6-2022-Premier-League#stats_822bd0ba_summary")
table = table[11]
table = table[['Unnamed: 0_level_0','Unnamed: 5_level_0']]
table

        Unnamed: 0_level_0 Unnamed: 5_level_0
                    Player                Min
0          Roberto Firmino                 50
1             Darwin Núñez                 40
2                Luis Díaz                 77
3           Fabio Carvalho                 13
4            Mohamed Salah                 90
5         Thiago Alcántara                 50
6           Harvey Elliott                 40
7                  Fabinho                 58
8             James Milner                 32
9         Jordan Henderson                 90
10        Andrew Robertson                 90
11         Virgil van Dijk                 90
12              Joël Matip                 90
13  Trent Alexander-Arnold                 90
14                 Alisson                 90
15              15 Players                990

## Get all players
### Left join each game and create coloured table